# Binja Lattice MCP Configuration
# Copy this file, along with lattice_server_plugin.py to %APPDATA%\Binary Ninja\plugins\

[lattice]
# IP Address of the machine running Binary Ninja
# Default is localhost, but you might execute commands from a different machine
ip_address = "127.0.0.1"

# The port the Lattice plugin is listening on
port = 9000

# Use SSL
use_ssl = False

# API Key, in case you want to set up something permanent
api_key = "use_a_strong_api_key_here"
